body {
  display: grid;
  grid-row-gap: 1ch; /* vertical padding between div */
  place-content: center;
  background: rgb(255, 255, 255);
  font-size: 2vw;
  text-align: center;
}

button {
  font-size: 2vw;
}

#word {
  white-space: pre; /* multiple whitespace is not collapsed */
  font-size: 4vw;
}

.letter-row {
  text-align: center;
  margin: 0 0 5px;
}

.letter-button {
  cursor: pointer;
  padding: 0.5em 1em;
  /* background: #333; */
  /* color: #fff; */
  border: none;
  font-size: 1em;
}

.letter-button:hover {
  background: #555;
}

.letter-button:active {
  background: #111;
}
